.contact-container {
  padding: 60px 80px;
  background-color: #f1f7ff;
  min-height: 100vh;
}

.contact-container h1 {
  text-align: center;
  font-size: 35px;
  color: #000;
  background-color: aliceblue;
}

.contact-content {
  display: flex;
  gap: 50px;
  margin-top: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-info {
  background-color: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.contact-info h3 {
  margin-bottom: 20px;
  color: #000;
}

.contact-form {
  background-color: #ffffff;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
}

.contact-form h3 {
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  background-color: #f8fbff;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #2563eb;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #1e40af;
}

h3{
    background-color: white;
}

p,strong{
    background-color: white;
    text-align: justify;
}