* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.container {
  height: 80vh;
  width: 100%;
}

.heading{
  height: 100px;
  text-align: center;
  padding: 30px;
  background-color: rgb(176, 213, 245);
}

.split {
  display: flex;
  height: 100;
}

.common {
  width:50%;
  padding:40px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.register {
  background-color:aliceblue;
  border-right: 1px solid #ccc;
}

.login {
  background-color:aliceblue;
}

.tag {
  background-color: rgb(0, 136, 255);
  color: rgb(255, 255, 255);
  padding:10px 20px;
  border-radius:3px;
  font-size: 15px;
  margin-bottom: 50px;
  border: 1px solid black;
}

.common h2 {
  margin-bottom:15px;
}

p {
  max-width: 300px;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center;
  background-color: aliceblue;
}

.common button {
  padding: 10px 25px;
  background-color: rgb(0, 136, 255);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 100px;
}

.common button:hover {
  opacity: 0.7;
}

h1{
  background-color: rgb(176, 213, 245);
}

.tag1{
  padding: 0px;
}
.info{
  background-color: aliceblue;
}